doctype html
html
    head
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900', type='text/css')
        style(type='text/css').
            html {
                background: #e6e9e9;
            }

            body {
                background: #fff;
                color: #545454;
                font-size: 16px;
                line-height: 1.5;
                margin: 0 auto;
                max-width: 800px;
                padding: 2em 2em 4em;
            }

            .header {
                font-size: 40px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }
            
            .title {
                color: tomato;
                font-size: 35px;
            }

            .subtitle {
                color: dodgerblue;
                font-size: 20px;
                border: 1px solid green;
                border-radius: 10px;
                width: fit-content;
                padding: 10px;
            }

            .deporunnersLogo {
                height: 100px;
                width: 100px;
                border-radius: 10000px;
                object-fit: cover;
            }
    
    body
        p.header test
        div.header
            h1.title Hi #{name}
            h6.subtitle Welcome to the club pal!!!!
        ul
            li #{role}
            li #{role}
            li #{role}
            li #{role}
            li #{role}